<div class="container" style="background-image: url(https://image.shutterstock.com/image-photo/party-background-cupcakes-confetti-260nw-428037922.jpg); 
height: 100%; background-repeat: no-repeat;
background-position: center;
  background-repeat: no-repeat;
  background-size: cover;" >

  <h3 class="d-flex justify-content-center">Angular Project </h3>
  <h5 class="d-flex justify-content-center">Cake Shop</h5>

  <nav class="navbar navbar-expand-sm bg-light navbar-dark" style="background-image: url(https://image.shutterstock.com/image-vector/seamless-pattern-hand-drawn-doodle-260nw-582931630.jpg);">
  <ul class="navbar-nav">
      <li class="nav-item">
          <button routerLink="CakeType"
          class="m-1 btn btn-light btn-outline-primary" Button>CakeType</button>
      </li>

      <li class="nav-item">
          <button routerLink="Cake"
          class="m-1 btn btn-light btn-outline-primary" Button>Cake</button>
      </li>
  </ul>
  </nav>

<router-outlet></router-outlet>

</div>